
.NavBar {
  top: 0px;
  position: absolute;
  height: 3vh;
  width: 100%;
  right: 0%;
  display: flex;
  justify-content: end;
  white-space: nowrap;
  overflow: hidden;
  background-color: gold;
}

.NavLink {
  position: relative;
  margin-right: 13vh;
  margin-top: 1.3vh;
  font-family: 'Silkscreen', "sans-serif";
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 0px;
  color: grey;
  text-decoration: none;
}

.NavLink:hover{
  color:#737264;
}

.logo {
  font-family: 'Silkscreen', sans-serif;
  color: #FFD15B;
}

.NavLogo {
  font-family: 'Silkscreen', sans-serif;
  color: #FFD15B;
  text-shadow: 0px 2px 0px#737264;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.pixel2:active {
  top: 2px;
}


.pixel2 {
  all: unset;
  position: relative;
  display: block;
  margin: 10px;
  font-family: 'VT323';
  text-transform: uppercase;
  
  font-size: 25px;
  color: black;
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #FFD15B;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #FFD15B;
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: #FFD15B;
  height: auto;
  width: auto;
  z-index: 2;
}

.fixedButton {
  height: 2.5vh;
  width: 1vh;
  position: absolute;
  right: 4vh;
  top: -1vh;
  font-size: 2vh;
  padding: 5px 5px;
}

.adventureCard{
  background-color: #737264;
  border: 2px solid white;
  width: 40vh;
  height: 60vh;
  overflow: wrap;
  margin: 5px;
}

.itemCard{
  background-color: #737264;
  border: 2px solid white;
  width: 30vh;
  height: 30vh;
  overflow: wrap;
  margin: 5px;
  font-size: 3vh;
}

.bttn{
  width: 100%;
}