body {
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* font-family: 'Silkscreen', sans-serif; */
/* font-family: 'VT323', monospace; */